
	.project-container {
		height: auto;
	}
	.project-thumbnail {
		height: 20em;
		margin-bottom: 1rem;
		position: relative;
		background: no-repeat center center;
		background-size: cover;
		box-shadow: 0 2px 4px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
	}
	
	.project-thumbnail, .thumbnail{
		border-radius: 15px 10px;
	}

	.project-brief{
		padding: 20px;
		text-align: center;
		
	}
	
	.thumbnail{
		height: 100%;
		width: 100%;
	}
	.project-fn{
		border: 1px lightgray solid;
		background-color: lightgray;
		border-radius: 20px 20px;
		font-size : 15px;
		display: inline-block;
		font-family: 'Nanum Gothic', sans-serif;
		
	}
	.project-wrap {
		margin-bottom: 2em;
	}
	.project-git{
		float: right;
	}
	.project-sub{
		font-family: 'Jua', sans-serif;
		margin-bottom: 20px;
	}

