<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.home.myblog.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.home.myblog.member.model.vo.JoinRequest" alias="JoinRequest"/>		
		<typeAlias type="com.home.myblog.member.model.vo.LoginRequest" alias="LoginRequest"/>
		<typeAlias type="com.home.myblog.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.home.myblog.history.model.vo.VisitCount" alias="VisitCount"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/history-mapper.xml"/>
	</mappers>
</configuration>